<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <title>Document</title>

</head>
<body>
  <div class="Container" style="width: 100%;height: min-content;display: -webkit-flex;flex-direction: column;padding: 1rem;font-family: 'Roboto', sans-serif;">
    <div class="Content" style="width: 100%;display: -webkit-flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;">
      <img src="{{logo_url}}" alt="Partner" style="height: 500;width: auto;margin: 1rem;">
      <div style="text-align: center;">
        <p>Olá <strong><em>{{name}}</em></strong></p>
        <p>Esqueceu sua senha na plataforma?</p>
      </div>
      <div style="text-align: center;">
        <p>Sem problemas, isso acontece com todos.</p>
        <p>A sua solicitação para atualizar a senha do usuário <strong><em>{{email}}</em></strong> já foi realizada.</p>
      </div>
      <p>Para mudar sua senha, clique em "Mudar senha".</p>
      <br>
      <a class="Button" href="{{link}}" style="width: max-content;height: max-content;display: -webkit-flex;padding: 1rem;cursor: pointer;background-color: {{primaryColor}};color: #fff;border-radius: 4px;text-decoration: none;box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">Mudar Senha</a>
      <br>
      <div style="text-align: center;">
        <p class="Footer" style="text-align: justify;">*Caso não tenha solicitado a redefinição da sua senha, entre em contato com nosso atendimento o mais rápido o possível no <strong><em>plataforma@querocredito.app.br</em></strong>.</p>
      </div>
    </div>
  </div>
</body>
</html>
