<!DOCTYPE html>
<html lang="pt-br" style="margin: 0;padding: 0;box-sizing: border-box;">
<head style="margin: 0;padding: 0;box-sizing: border-box;">
  <meta charset="UTF-8" style="margin: 0;padding: 0;box-sizing: border-box;">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" style="margin: 0;padding: 0;box-sizing: border-box;">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" style="margin: 0;padding: 0;box-sizing: border-box;">
  <link rel="preconnect" href="https://fonts.googleapis.com" style="margin: 0;padding: 0;box-sizing: border-box;">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin style="margin: 0;padding: 0;box-sizing: border-box;">

  <title style="margin: 0;padding: 0;box-sizing: border-box;">Document</title>

</head>
<body style="margin: 0;padding: 0;box-sizing: border-box;">
  <div class="Container" style="margin: 0;padding: 1rem;box-sizing: border-box;width: 100%;display: -webkit-flex;font-family: 'Roboto', sans-serif;line-height: 1.5;">
    <div class="Content" style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;display: -webkit-flex;align-items: center;justify-content: center;flex-direction: column;text-align: center;gap: 1rem;">
      <img src="{{logo_url}}" alt="Partner" style="margin: 1rem;padding: 0;box-sizing: border-box;height: 500;width: auto;">
      <div style="margin: 0;padding: 0;box-sizing: border-box;display: -webkit-flex;flex-direction: column;gap: 0.5rem;text-align: center;">
        <p style="margin: 0;padding: 0;box-sizing: border-box;">Olá <strong style="margin: 0;padding: 0;box-sizing: border-box;"><em style="margin: 0;padding: 0;box-sizing: border-box;">{{name}}</em></strong>, agora você terá acesso a todo conteúdo necessário para ser o Agente autônomo de soluções financeiras da sua região.</p>
        <p style="margin: 0;padding: 0;box-sizing: border-box;">
          <a class="Link" href="{{link}}" style="margin: 0;padding: 0;box-sizing: border-box;text-decoration: none;color: {{primaryColor}};transition: all ease 0.5s;">Clique aqui</a> para acessar a Plataforma de crédito.
        </p>
      </div>
      <div class="UserCredentials" style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;display: -webkit-flex;flex-direction: column;align-items: flex-start;justify-content: flex-start;font-weight: bold;line-height: 1;gap: 0.5rem;text-align: center;">
        <p style="margin: 0;padding: 0;box-sizing: border-box;">Email: <em style="margin: 0;padding: 0;box-sizing: border-box;">{{email}}</em></p>
        <p style="margin: 0;padding: 0;box-sizing: border-box;">Senha: <em style="margin: 0;padding: 0;box-sizing: border-box;">{{password}}</em></p>
      </div>
      <div style="margin: 0;padding: 0;box-sizing: border-box;display: -webkit-flex;flex-direction: column;gap: 0.5rem;text-align: center;">
        <p style="margin: 0;padding: 0;box-sizing: border-box;">
          Assim que entrar na plataforma aproveite para alterar sua senha e adicionar sua foto.
        </p>
      </div>
      <div class="PS" style="margin: 0;padding: 0;box-sizing: border-box;width: 100%;display: -webkit-flex;justify-content: flex-start;align-items: flex-start;font-size: 11pt;flex-direction: column;gap: 0.5rem;text-align: center;">
        <p style="margin: 0;padding: 0;box-sizing: border-box;">*Caso não tenha feito o cadastro entre em contato com nosso atendimento o mais rápido o possível.</p>
      </div>
    </div>
  </div>
</body>
</html>
